.user-list-table {
    display: flex;
    flex-flow: column;
}
.user-list-heading, .user-list-body {
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
}
.user-list-heading .td, .user-list-body .td {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
}
.user-list-heading {
    background: #f5f5f5;
    font-weight: bold;
}