header.App-header {
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  background:#f5f5f5;
}
footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  border-top: 1px solid #ddd;
  background:#f5f5f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.container {
  width: 1100px;
  margin: 0 auto;
}